extends layout

block content
    h1 #{title}

    //- SECCIÓN PARA AGREGAR TAREA

    div(style="display:flex;")
    form.well.well-lg(action="/agregar" method="post" style="display:flex; flex-direction:row; justify-content: space-evenly; margin-bottom: 0px; background-color:#606d80; color:#dce0e6; border-color: #606d80;")
        label(style='display: inline;')
            label Nueva tarea:
        input(name="name" type="textbox" style='color:#0e0e0e; max-height:25px')

        label(style='display: inline;')
            label Categoría:
        input(name="category" type="textbox" style='color:#0e0e0e; max-height:25px')

        button.btn.btn.btn-warning(type="submit" style='margin-left:50px') Agregar tarea


    //- SECCIÓN DE BOTONERA PARA FILTRAR/MODIFICAR

    div.well(style="display:flex; flex-direction:row; justify-content: space-evenly; margin-top: -24px; background-color:#606d80; border-color: #606d80;")
        form(action="/" method="get")
            button.btn.btn-primary(type="subm it") Actualizar tareas
        form(action="/realizado" method="get")
            button.btn.btn-success(type="subm it") Tareas completas
        form(action="/pendientes" method="get")
            button.btn.btn-dark(type="subm it") Tareas pendientes
    br
    //- SECCIÓN PARA MOSTRAR LAS TAREAS 
    //- form(action="/eliminar" method="post" style="background-color: #7890a8; color: #fff")
        
    form( style="background-color: #7890a8; color: #fff")
        table.table.table-stripped.table-bordered
            tr
                td Nombre 
                td Categoría
                td Fecha 
                td Estado
                td Eliminar

            if(typeof tasks === "undefined")
                tr
                    td 
            else
                each task in tasks
                    tr
                        td #{task.name} 
                        td #{task.category}
                        - let date = new Date(task.date);
                        - let day = date.getDate();
                        - let month = date.getMonth() + 1;
                        - let year = date.getFullYear();
                            - if (month <= 9) { month = "0" + month  };
                        td #{day + "/" + month + "/" + year }
                        td 

                            //- SECCIÓN PARA COMPLETAR LAS TAREAS 

                            form(action="/realizar" method="post")
                                button.btn.btn.btn-info(name="#{task.id}" type="submit" style='margin: auto; display: flex') Completar
                            if(task.completed)
                                //- button(name="#{task.id}" value="#{!task.completed}", onclick=() => {this.value = !this.value}, style="background-color:transparent; border:none; text-decoration:line-through;") Realizado
                                input(type="checkbox" name="#{task.id}" value="#{task.completed}", checked=task.completed)
                                label #{task.name}
                            else 
                                //- button(name="#{task.id}" value="#{task.completed}", onclick=() => {this.value = !this.value}, style="background-color:transparent; border:none; text-decoration:none;") Pendiente
                                input(type="checkbox" name="#{task.id}" value="#{!task.completed}", checked=task.completed)
                                label #{task.name}
                        td  
                            form(action="/eliminar" method="post")
                            button.btn.btn.btn-danger(name="#{task.id}" type="submit" style='margin: auto; display: flex') Eliminar
hr