extends layout

block content

    //- SECCIÓN PARA MOSTRAR LAS TAREAS 
    form.border.border-dark.border-5.rounded.d-flex.justify-content-center.align-items-center.text-white(action="/realizar" method="post" style="background-color: #7890a8; width: 120vh; margin:auto;")
        table.table.table-stripped.table-bordered
            tr
                td.fs-6.text-center.bg-primary.text-white Nombre 
                td.fs-6.text-center.bg-primary.text-white Categoría
                td.fs-6.text-center.bg-primary.text-white Fecha 
                td.fs-6.text-center.bg-primary.text-white Estado
                td.fs-6.text-center.bg-primary.text-white Eliminar

            if(typeof tasks === "undefined")
               tr
                   td 
            else
               each task in tasks
                   tr
                       td.text-dark #{task.name} 
                       td.text-dark #{task.category}
                       - let date = new Date(task.date);
                       - let day = date.getDate();
                       - let month = date.getMonth() + 1;
                       - let year = date.getFullYear();
                           - if (month <= 9) { month = "0" + month  };
                       td.text-dark #{day + "/" + month + "/" + year }
                       td.text-dark

                            //- SECCIÓN PARA COMPLETAR LAS TAREAS 
                            form(action="/realizar" method="post")
                                button.btn.btn-info.d-flex.m-auto.text-dark(name="#{task.id}" type="submit") Completar
                            if(task.completed)
                                button.bg-transparent.border-0.text-decoration-line-through.text-dark(name="#{task.id}" value="#{!task.completed}", onclick=() => {this.value = !this.value}) Realizado
                                input(type="checkbox" name="#{task.id}" value="#{task.completed}", checked=task.completed)
                                label #{task.id}
                            else 
                                button.bg-transparent.border-0.text-dark(name="#{task.id}" value="#{task.completed}", onclick=() => {this.value = !this.value}) Pendiente
                                input(type="checkbox" name="#{task.id}" value="#{!task.completed}", checked=task.completed)
                                label #{task.id}
                        td

                            //- SECCIÓN PARA ELIMINAR LAS TAREAS
                            form(action="/eliminar" method="post")
                                button.d-flex.btn.btn-danger.m-auto(name="#{task.id}" type="submit") Eliminar
